<div class="row">
    <div class="col">
        <h2>Stores</h2>
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">URL</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody *ngIf="!list$">
            <tr>
                <td colspan="4">Loading...</td>
            </tr>
            </tbody>
            <tbody *ngIf="list$">
            <tr *ngFor="let store of (list$ | async)">
                <th scope="row">{{store.id}}</th>
                <td>{{store.name}}</td>
                <td>{{store.domain}}</td>
                <td><a [routerLink]="[store.id]">Manage</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
